@model SitecoreReference.Models.Location
<address>
    <h5>Head Office</h5>
    <p>
        @Model.Street <br>
        @Model.City, @Model.State @Model.Zip
    </p>
    <p>
        Phone: @Model.Phone <br>
        Email @Model.Email
    </p>
</address>
